
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');


 * {
    box-sizing: border-box;
}

body {
    background-color: darkorchid;
    color: #fff;
    font-family: Muli, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

button {
    padding: 20px 40px;
    margin: 10px;
    background-color: rgba(0,0,0,0.3);
    border: none;
    border-radius: 5px;
    font-size: 28px;
    cursor: pointer;
    transition: .1s;
}

button:active {
    transform: scale(0.98);
}
